      <!-- Hero Section -->
      <!-- <section class="relative overflow-hidden pt-32 pb-20"> /* Used when sticky header is active -->
      <section class="pt-8 pb-20">
        <div class="w-full max-w-7xl mx-auto">
          <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
            <div class="animate-fade-in">
              <div class="mb-5">
                <span class="bg-huntergreen text-white hover:bg-muted-foreground inline-block rounded-full px-3 py-1 text-xs tracking-widest uppercase"> Featured Story </span>
              </div>
              <a href="/writing/gwenllian-walters-the-case-of-the-disappearing-great-grandmother/" class="no-underline hover:underline">
                <h1 class="mb-6 font-serif text-4xl leading-tight font-medium md:text-5xl lg:text-6xl">The case of the disappearing great grandmother</h1>
              </a>
              <p class="text-muted-foreground mb-8 max-w-lg text-lg text-balance">Gwenllian worked as a domestic servant in Llanelly, Carmarthenshire. After giving birth to a son in 1888, she placed him in the care of her sister Margaret and seemingly vanished from historical records.</p>
            </div>

            <div class="animate-scale-in relative">
              <div class="overflow-hidden rounded-lg">
                <a href="article.html" class="">
                  <img src="https://garethdewalters.com/img/To-IVyzgio-4807.jpeg" alt="A young mother and baby wait for news." class="h-[500px] w-full object-cover transition-transform duration-700 ease-in-out hover:scale-105" />
                </a>
              </div>
              <div class="glass-effect absolute right-4 bottom-4 rounded-md p-3 text-xs">Image credit: <span class="font-medium">Amgueddfa Cymru</span></div>
            </div>
          </div>
        </div>
      </section>