# macOS

.DS_Store

# Dependency directories

node_modules/

# Optional npm cache directory

.npm

# dotenv environment variable files

.env

# Eleventy build / generate output

dist
_site/
.cache
public/assets/scripts/bundle.js
