---
layout: layouts/base.njk
---
      <article class="w-full max-w-7xl mx-auto">
        <!-- Article Hero Section -->
        <section class="mb-16 text-center">

            <!-- Article title -->
            <h1 class="font-serif text-4xl leading-tight font-medium md:text-5xl lg:text-6xl mb-6 text-left sm:text-center" id="gwenllian-walters-the-case-of-the-disappearing-great-grandmother">{{ post.headline }}</h1>
          
            <!-- Author and meta information -->
            <div class="article-entry-meta flex flex-col sm:flex-row justify-center sm:space-x-4 space-y-2 mb-6">
                    <li class="flex items-center">
                        <span class="article-entry-meta-icon flex items-center">
                            <span class="screen-reader-text"> Article author </span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1.5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"></path>
                            </svg>
                        </span>
                        <span class="article-entry-meta-text">
                            By <a href="/about/" class="underline decoration-2 underline-offset-3 hover:no-underline">Gareth de Walters</a> on <a href="/writing/" rel="category" class="underline decoration-2 underline-offset-3 hover:no-underline">{{ post.contentTopicTag.fields.topic }}</a>
                        </span>
                    </li>

                    <li class="flex items-center">
                        <span class="article-entry-meta-text flex items-center">
                            <span class="screen-reader-text invisible"> Article date </span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1.5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"></path>
                            </svg>
                        </span>
                        {% if post.datePublished %}
                        <span class="article-entry-meta-text">
                            Published on <time datetime="{{ post.datePublished | htmlDateString }}">{{ post.datePublished | readableDate }}</time>
                        </span>
                        {% endif %}
                    </li>
            </div>


            <!-- Article description / lede paragraph -->
            <p class="text-foreground text-xl font-medium max-w-2xl mx-auto mb-8 text-left sm:text-center">
              {{ post.summary | safe }}
            </p>

            <!-- Main image -->
            {% if post.mainImage %}
            <div class="overflow-hidden rounded-lg mb-12 max-w-5xl mx-auto">
            <img
                src="{{ post.mainImage.url }}"
                alt="{{ post.mainImage.alt }}"
                class="w-full aspect-video lg:aspect-[8/3] object-cover"
            />
            </div>
            {% endif %}
        </section>

        <!-- Article Content -->
        <section class="flex justify-center">
            <!-- The 'prose' class from @tailwindcss/typography plugin will style the content -->
            <div class="prose max-w-prose w-full">

              {{ post.body | renderRichTextAsHtml | safe }}


            </div>
        </section>
      </article>
